#archive {
    .section-inner {
        section {
            display: flex;
            border: 5px solid var(--white);
            box-shadow: var(--dark-blue) 20px 20px;
            transition: all .2s ease-in-out;

            &:hover {
                margin-left: -20px;
                margin-top: -10px;
                box-shadow: var(--dark-blue) 40px 30px;
            }

            .slidebox {
                overflow-x: hidden;
                position: relative;
                width: var(--slide-w);
                display: flex;
                border: 20px solid transparent;

                .slideitem {
                    min-width: var(--slide-w);
                    max-width: var(--slide-w);
                    display: flex;
                    align-items: center;
                    transition: margin-left .2s ease-in-out;
                }
                
                &:hover .slideitem:first-child {
                    margin-left: calc(var(--slide-w) * -1);
                }

                .arrow {
                    display: none;
                    position: absolute;
                    top: 50%;
                    border-radius: 40px;
                    width: 40px;
                    height: 40px;
                    background-color: var(--shadow);
                    color: var(--white);

                    &:hover {
                        color: var(--dark-blue);
                        background-color: var(--point);
                    }

                    &.prev {
                        left: 10px;
                    }
                    &.next {
                        right: 10px;
                    }
                }
            }

            article {
                position: relative;
                padding: 20px 20px 20px 0;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h2 {
                    font-size: 1.5em;
                }
                
                .tag span {
                    display: inline-block;
                    padding: 5px 8px;
                    border-radius: 10px;
                    margin: 5px;
                    letter-spacing: 1px;
                    text-indent: 3px;
                    color: var(--white);

                    &:first-child {
                        margin: 0;
                        padding-left: 0;
                        text-indent: 0;
                    }

                    &.github {
                        background-color: var(--black);
                    }
                    &.html {
                        background-color: var(--orange);
                    }
                    &.css {
                        background-color: var(--sky);
                    }
                    &.scss {
                        background-color: var(--dark-pink);
                    }
                    &.javascript {
                        background-color: var(--yellow);
                        color: var(--black);
                    }
                    &.php {
                        background-color: var(--pale-navy);
                    }
                    &.react {
                        background-color: var(--light-sky);
                    }
                    &.mysql {
                        background-color: var(--pale-blue);
                        color: var(--pale-orange)
                    }
                }

                .desc {
                    min-height: 400px;
                    width: 400px;
                    color: var(--gray);
                    font-family: 'Galmuri9',sans-serif;
                    font-size: 20px;
                    line-height: 1.2;
                    white-space: pre-wrap;
                    letter-spacing: 1px;
                    word-break: keep-all;
                }

                button {
                    background-color: var(--point);
                    color: var(--dark-blue);
                    font-weight: bold;

                    a {
                        display: block;
                        width: 100%;
                        padding: 10px 0;
                        font-size: 24px;
                    }
                    &:hover {
                        color: var(--point);
                        background-color: var(--dark-blue);
                    }
                }

                p a {
                    font-size: inherit;
                    &:hover {
                        text-decoration: underline;
                    }
                }

                &::before {
                    content:'';
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background-color: var(--point);
                }
            }
        }

    }
}