header {
    background-color: var(--dark-blue);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;

    .headerBox {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 800px){
            height: 50px;
        }

        nav {
            background-color: var(--dark-blue);

            @media (max-width: 800px){
                display: none;
                position: fixed;
                top: 50px;
                width: 100%;
            }

            ul {
                width: 800px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: 800px){
                    width: 100%;
                    display: block;
                }

                a {
                    display: inline-block;
                    
                    @media (max-width: 800px){
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }

        #navToggle {
            display: none;
            cursor: pointer;

            @media (max-width: 800px){
                display: block;
            }
        }
        
        nav.show {
            display: block;
        }
        
        #top {
            position: fixed;
            right: 10px;
            bottom: 10px;
            background-color: var(--dark-blue);
            border-radius: 50px;
            &:hover {
                background-color: var(--shadow);
            }

            .icon {
                max-width: 18px;
                padding-bottom: 4px;
            }
        }
    }
}