#timeline {
    .time-point {
        display: block;
        width: 30px;
        height: 30px;
        border: 10px solid var(--point);
        background-color: var(--blue);
        border-radius: 30px;
        position: relative;
        
        &:hover {
            background-color: var(--dark-blue);
        }
        .point-tooltip {
            display: none;
            position: absolute;
            background-color: var(--white);
            color: var(--blue);
            bottom: 50px;
            padding: 10px 20px;
            text-align: center;
            white-space: nowrap;

            @media (max-width: 800px){
                white-space: normal;
                word-break: auto-phrase;
                top: 0;
                bottom: auto;
                right: 45px;
			}
        }

        &:hover .point-tooltip {
            display: block;
        }
    }
}