#timeline {
    .time-point {
        display: block;
        width: 30px;
        height: 30px;
        border: 10px solid var(--point);
        background-color: var(--blue);
        border-radius: 30px;
        position: relative;
        margin: 15px;
        
        &:hover {
            background-color: var(--dark-blue);
        }
        .point-tooltip {
            display: none;
            position: absolute;
            background-color: var(--white);
            color: var(--blue);
            bottom: 50px;
            padding: 10px 20px;
            text-align: center;
            white-space: nowrap;

            @media (max-width: 800px){
                white-space: normal;
                word-break: auto-phrase;
                top: 0;
                bottom: auto;
                right: 300%;
			}
        }
        &:nth-child(even) {
            .point-tooltip {
                @media (max-width: 800px){
                    left: 300%;
                    right: auto;
                }
            }
        }

        &:hover .point-tooltip {
            display: block;
        }
    }
    #timeline-bar {
        position: absolute;
        z-index: -1;
        width: 100%;
        border-bottom: 1px solid var(--white);

        @media (max-width: 800px){
            width: 0;
            height: 100%;
            border-bottom: 0;
            border-left: 1px solid var(--white);
        }
    }
}