:root {
    --white: #fff;
    --blue: #1365fd;
    --dark-blue: #001d7e;
    --point: #00ecb1;
    --shadow: rgba(0,0,0,.5);
    --black: #333;
    --orange: #e96228; // html
    --sky: #31a4d5; // css
    --light-sky: #5ed3f3; // react
    --yellow: #efd81d; // js
    --pale-navy: #7377ad; // php
    --dark-pink: #c96195; //scss

    --slide-w: 640px; // slide width
}