:root {
    --white: #fff;
    --blue: #0030d5;
    --dark-blue: #080051;
    --point: #00ecb1;
    --shadow: rgba(0,0,0,.5);
    --black: #333;
    --gray: #ccc;
    --orange: #e96228; // html
    --sky: #31a4d5; // css
    --light-sky: #5ed3f3; // react
    --yellow: #efd81d; // js
    --pale-navy: #7377ad; // php
    --dark-pink: #c96195; //scss
    --pale-blue: #005e86; // mysql1
    --pale-orange: #df852d; // mysql2

    --slide-w: 640px; // slide width - pc
    --slide-w-m: 100%; // slide width - mo
}